$fontSizeH: 90px;
$fontSizeHTab: 65px;
$fontSizeHMobile: 45px;
$fontSizeP: 16px;
$fontSizePTab: 14px;
$fontSizePMobile: 12px;

$marginTop: 150px;
$marginTopTab: 50px;
$marginTopMobile: 25px;

$paddingTab: 0 50px;
$paddingMobile: 0 20px;

$colorWhite: #f7f8f9;
$colorPink: #ac073b;
